// Landing page for {{ name }} directory

export default function Page() {
  return (
    <div className="flex min-h-screen items-start justify-center p-24">
      <h1>{{ name }} directory landing page</h1>
    </div>
  )
}